* {
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
    font-family: 'Bai Jamjuree', sans-serif;
}

header {
    height: 250px;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: #43bac9;
}

.nav-box1{
    display: flex;
    align-items: center;
}

.header-logo{
    height: 220px;
}
.nav-box2{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.nav-text-enlaces{
    color: white;
    padding: 0 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.but{
    background-color: black;
    padding: 5px;
    border: 2px solid #43bac9;
    border-radius: 25px;
}

main{
    padding: 0 50px;
}
.sec1{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec1-box1{

}
.sec1-foto {
    height: 650px;
}