* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

header {
    height: 64px;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box1{
    display: flex;
    align-items: center;
    justify-items: center;
}
.nav-box2{
    display: flex;
    align-items: center;
    justify-items: center;
}

.header-logo{
    height: 40px;
}
